* {
  box-sizing: border-box;
}

body {
  color: #5a4535;
  background-color: rgb(212, 231, 105);
}

h1 {
  color: rgb(7, 124, 192);
 border-bottom: 2px solid rgb(189, 182, 182);
}

nav {
  background-image: url(kepek/bg-nav.png);
  background-size: cover;

}

nav a {
  color: rgb(252, 245, 245);
}

h2 {
  color: rgb(7, 124, 192);
  background-color: rgba(196, 171, 61, 0.5);
  border: 1px solid brown;
}

.szoveg {
  background-color: #c7c381;
}

header{
    border: 1px solid white;
}

article{
    border:1px solid #999658;
}

.kep{
    background-color: rgba(250, 211, 185, 0.849)
}
